#hero {
  height: 50vh;
  margin-top: 100px;
}

@media (max-width: 991px) {
  #hero {
    margin-top: 0;
  }
  #hero h1 {
    font-size: 32px;
  }
  #hero .lead {
    font-size: 18px;
  }
  #hero h2 {
    font-size: 30px;
  }
}