.Navigation {
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.nav-brand {
  font-size: 30px;
  font-weight: 600;
}

nav a {
  color: black;
  font-size: 18px;
  font-weight: 450;
}

nav a:hover {
  color: #007bff;
  text-decoration: none;
}