.Navigation {
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
  z-index: -1;
}

.nav-link, .navbar-brand {
  color: black;
}

.navbar-brand {
  font-weight: 600;
}

.nav-link-main.active {
  font-weight: bold;
  color: #007bff;
}
