.Navigation {
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.nav-brand {
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  font-weight: 600;
}

nav a {
  color: rgb(105, 105, 105);
  font-size: 18px;
  font-weight: 500;
}

nav a:hover {
  color: black;
  text-decoration: none;
}